{% extends 'frontOffice.html.twig' %}


{% block body %}
    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative" data-dot="<img src='https://assets-global.website-files.com/5ef41bb456726c3a2ea9838a/60402c71fcffe9b90eeec793_Sid-Courier-16-9.png'>">
                <img class="img-fluid" src="https://assets-global.website-files.com/5ef41bb456726c3a2ea9838a/60402c71fcffe9b90eeec793_Sid-Courier-16-9.png" alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-2 text-white animated slideInDown">Explorez la Ville en Silence</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">Plongez dans une expérience de conduite sans émissions et silencieuse avec notre flotte de véhicules électriques. Parcourez les rues de la ville en toute tranquillité, tout en contribuant à un environnement plus propre et plus sain..</p>
                                <a href="" class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">u</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src='https://www.thedrive.com/content/2021/02/Best-Electric-Scooter-For-Adults-1-e1612285238297.jpg?quality=85&crop=16%3A9&auto=webp&optimize=high&quality=70&width=1440'>">
                <img class="img-fluid" src="https://www.thedrive.com/content/2021/02/Best-Electric-Scooter-For-Adults-1-e1612285238297.jpg?quality=85&crop=16%3A9&auto=webp&optimize=high&quality=70&width=1440" alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-2 text-white animated slideInDown">Liberté Électrique à Chaque Coin de Rue</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">Découvrez la liberté de vous déplacer sans limites grâce à notre service de location de véhicules électriques. Avec des points de prise disséminés dans toute la ville, votre prochaine aventure est toujours à portée de main.</p>
                                <a href="" class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">En Savoir Plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src='https://media.wired.co.uk/photos/606dae8edbc4c121710a483e/16:9/w_1920,h_1080,c_limit/20151019_mitv3-ninebot-mini-1024x512-19oct-1pm051.jpg'>">
                <img class="img-fluid" src="https://media.wired.co.uk/photos/606dae8edbc4c121710a483e/16:9/w_1920,h_1080,c_limit/20151019_mitv3-ninebot-mini-1024x512-19oct-1pm051.jpg" alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-2 text-white animated slideInDown">Des Véhicules Électriques pour Tous les Besoins</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">Que vous ayez besoin d'un moyen de transport rapide pour vos rendez-vous urbains ou d'une escapade en pleine nature, notre gamme variée de véhicules électriques répond à tous vos besoins. Choisissez la solution de mobilité électrique qui correspond à votre style de vie.</p>
                                <a href="" class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">u</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Feature Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-users text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">25</h1>
                    </div>
                    <h5 class="mb-3">Clients Satisfaits</h5>
                    <span>Rejoignez notre communauté de clients satisfaits</span>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-check text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">1500</h1>
                    </div>
                    <h5 class="mb-3">Kilomètres Sans Émissions</h5>
                    <span>Parcourez plus de 1500 kilomètres sans émissions nocives</span>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-award text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">100</h1>
                    </div>
                    <h5 class="mb-3">%Électrique, Zéro Émissions</h5>
                    <span>Faites partie du changement avec notre flotte 100% électrique</span>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3">
                            <i class="fa fa-users-cog text-white"></i>
                        </div>
                        <h1 class="mb-0" data-toggle="counter-up">10</h1>
                    </div>
                    <h5 class="mb-3">Station Pratiques</h5>
                    <span>Répartis stratégiquement dans toute la ville</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Start -->
{% endblock %}
